.subtask-con{
    width:50%;
    height:40px;
    display:flex;
    border:0.5px solid rgb(48, 48, 48);
    margin:0 auto;
    align-items: center;
    padding-left: 20px;
}
.subtask-con input{
   margin-right: 20px;
   width: 20px;
   height: 20px;
}