*{
  margin:0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #cef;
  color:#000;
  min-height: 100vh;
  padding: 10px 0;
}
.main-wrapper{
  width:60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px 0;
}
.first-input-con{
  display: flex;
  justify-content: space-between;
  margin-bottom:30px;
}
.first-input-con input{
  width: 60%;
  padding-left: 50px;
  height: 30px;
}
.first-input-con button{
  width:20%;
  border-radius: 10px;
}

